// Base - common
html {
    scroll-behavior: smooth;
    overflow: hidden;

    &.has-touch {
    }

    &.no-js {
    }
    
    body {
        @extend %theme-dark;
        overflow-x: hidden;
        overflow-y: hidden;
   
        main {
     
            .section {
                position: relative;
            
                .row {
                    
                }
            }
        }   
    }
}